<form (ngSubmit)="onSubmit()" class="add-form" style="border-bottom: blue;">
    <!-- use ngSubmit in this not the normal "action = post" -->
    <div class="form-control">
        <label for="TaskName">Task Name:</label>
        <input type="text" id="TaskName" [(ngModel)]="TaskName" name="TaskName" placeholder="Add Task Description">
    </div>

    <div class="form-control" style="margin-bottom: 0%;">
        <label for="TaskDate">Day & Time</label>
        <input type="date" id="TaskDate" [(ngModel)]="TaskDate" name="TaskDate" placeholder="Date">
    </div>

    <div class="form-control form-control-check" style="margin-bottom: 1%; margin-top: 1%;">
        <label for="TaskReminder">Set Reminder:</label>
        <input style="margin-left: -75%; width: 50px;" [(ngModel)]="TaskReminder" type="checkbox" id="TaskReminder" name="TaskReminder">
    </div>
    
    <!-- "{{TaskName}}" can do this to show real time because it's a two way data binding -->
    <input style="margin-bottom: 5%;" type="submit" class="btn btn-block" value="Save Task">

</form>

<!-- the ngModel must have the same value as the "name" feild use the [] and the () cause its a 2 way data binding -->
<!-- make sure the feild in teh ngModel is the same variable spelling as the ones in the component -->